<div class="container" style="background-color: azure;">
<p style="color: green"><%= notice %></p>
  <h1>Movies</h1>

  <div id="movies">
    <div class="row d-flex">
    <% @movies.each do |movie| %>
      <div class="col-sm-3 mb-2 px-2" style="width:20%">
        <a href="<%= movie_path(movie) %>">
          <div class="card">
            <img class="card-img-top" src="<%= movie.thumbnail %>" alt="Card image cap" style="border:black;width:14rem;height:20rem;">
            <div class="card-body" style="width: 14rem;height: 8rem;">
              <h6><%= movie.title %></h6>
            </div>
          </div>
        </a>
      </div>
      <!-- <p class="btn btn-primary form-control">
        <%= link_to "Show this movie", movie %>
      </p> -->
      <% end %>
      <%= will_paginate @movies %>
    </div>
  </div>
  <%= link_to "New movie", new_movie_path %>
</div>
